body {
	background: linear-gradient(90deg, #f7f5f1, #f7f5ff);
	background-color: #f7f5f6;
	color: #333;
	font-size: 10px;
	font-family: Raleway, 'Open Sans Condensed', sans-serif;
}

header {
	padding: 1em 0 3em 0;
	position: relative;
}

nav > ul {
	margin-top: 1.5em;
	margin-bottom: 2.5em;
	text-align: center;
}

nav > ul > li {
	display: inline-block;
}

nav > ul > li > a {
	color: #555;
}

nav > ul > li > a:hover {
	color: #000;
}

nav > ul > li > a:active {
	color: #888;
}

h1 {
	font-size: 2.2em;
	font-weight: 500;
	text-align: center;
	margin-bottom: 0.2em;
}

h2 {
	font-size: 1.4em;
	font-weight: 400;
	text-align: center;
	margin-bottom: 0.2em;
}

main {
	padding: 2em 0;
}

figure {
	margin-top: 1.5em;
	padding-bottom: 1.5em;
	padding-top: 1.5em;
	text-align: center;
}

figure > a > img {
	margin-bottom: 10px;
}

figcaption {
	font-size: 1.3em;
	letter-spacing: 1px;
	margin-top: 5px;
	text-transform: uppercase;
}

/* ÍCONE E DIV PARA MOSTRAR INFORMAÇÕES DO PORTFOLIO
#info {
	cursor: pointer;
	margin: 10px auto;
}

.contentInfo {
	margin: 0 auto;
	width: 250px;
	color: #fff;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.7);
}

.titleContentInfo {
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

.textContentInfo {
	line-height: 18px;
	font-size: 12px;
} */

footer {
	padding: 2.3em 0;
}

footer > section {
	font-size: 1.8em;
	margin-top: 0.3em;
	padding: 1em 3em;
}

footer > section > div {
	margin-bottom: 0.5em;
}

footer > section > div > p {
	letter-spacing: 1px;
	margin-bottom: 0.2em;
}

footer > section > div > span {
	font-weight: bold;
}

span > a {
	color: #555;
	text-decoration: none;
}

span > a:hover {
	color: #000;
}

span > a:active {
	color: #888;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	box-sizing: border-box;
}

.social-contato li {
	margin-left: 0.5em;
}

.social-contato a {
	height: 32px;
	width: 32px;
	font-size: 2.2em;
	display: block;
}

/* BOTÃO CARREGAR MAIS */
.wrap-button {
	width: 250px;
	overflow: hidden;
	margin: 50px auto auto auto;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-load {
	padding: 20px;
	max-width: 100px;
	background: #555;
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	text-align: center;
	flex: 1;
}

.wrap {
	overflow: hidden;
}

.wrap .box-hidden {
	display: none;
}
/* FIM BOTÃO CARREGAR MAIS */

/* ANIMAÇÕES DE ENTRADA MOBILE */
.social-contato, .grid-container, .wrap-button {
	animation: animeRight .40s ease-in-out .4s backwards;
}

.sobre, .rodape, .onda-relative {
	animation: animeLeft .40s ease-in-out .4s backwards;
}

@keyframes animeRight {
	0% {
		transform: translateX(-50px);
		-webkit-transform: translateX(-50px);
		opacity: 0;
	}

	100% {
		transform: translateX(0px);
		-webkit-transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes animeLeft {
	0% {
		transform: translateX(50px);
		-webkit-transform: translateX(50px);
		opacity: 0;
	}

	100% {
		transform: translateX(0px);
		-webkit-transform: translateX(0px);
		opacity: 1;
	}
}
/* FIM ANIMAÇÕES DE ENTRADA MOBILE */

/* EFEITO ONDA RODAPÉ */
.onda-relative {
	position: relative;
	padding-top: 100px;
	width: 100%;
}

.onda {
	position: absolute;
	width: 100%;
	height: 143px;
	bottom: 0;
	left: 0;
	background: url(../img/onda.png);
	opacity: 0.2;
	animation: animate 10s linear infinite;
}

.onda:before {
	content: '';
	width: 100%;
	height: 143px;
	background: url(../img/onda.png);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.4;
	animation: animate-reverse 10s linear infinite;
}

.onda:after {
	content: '';
	width: 100%;
	height: 143px;
	background: url(../img/onda.png);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.6;
	animation-delay: -5s;
	animation: animate 20s linear infinite;
}

@keyframes animate {
	0% { background-position: 0; }

	100% { background-position: 1360px; }
}

@keyframes animate-reverse {
	0% { background-position: 1360px; }

	100% { background-position: 0; }
}

@media (min-width: 576px) {
	figure {
		display: inline-block;
	}

	.grid-container {
		display: grid;
		grid-template-columns: 50% 50%;
	}
}
/* FIM EFEITO ONDA RODAPÉ */

@media (min-width: 992px) {
	h1, h2 {
		text-align: left;
		padding-left: 50px;
	}

	section > div > p {
		display: inline-block;
	}

	figure:hover {
		background: linear-gradient(90deg, #ccc, #fff, #ccc);
	}

	/* EFEITO NAS IMAGENS PORTFOLIO */
	img {
		transition: all .3s ease-out;
		filter: grayscale(100%);
	}

	img:hover {
		transform: scale(1.3) rotate(10deg);
		filter: grayscale(0);
		transition: all .5s ease-out;
	}

	.eImg {
		width: 250px;
		margin: auto;
		overflow: hidden;
	}
	/* FIM EFEITO NAS IMAGENS PORTFOLIO */

	.social-contato {
		position: absolute;
		right: 15px;
		margin: 30px;
	}

	.sobre {
		margin-top: 70px;
	}

	.grid-container {
		display: grid;
		grid-template-columns: 33% 33% 33%;
	}

	.info {
		margin-top: 10px;
		visibility: visible;
	}

	/* BOTÃO CARREGAR MAIS 992px */
	.btn-load {
		max-width: 250px;
		font-size: 2em;
		transition: all .3s ease-out;
	}

	.btn-load:hover {
		background-color: #888;
		letter-spacing: 5px;
		transform: scale(1.05);
		transition: all .3s ease-out;
	}
	/* BOTÃO CARREGAR MAIS 992px */

	/* ANIMAÇÕES DESKTOP */
	.sobre, .rodape {
		animation: animeRight .50s ease-in-out .4s backwards;
	}

	.social-contato {
		animation: animeLeft .50s ease-in-out .4s backwards;
	}

	.grid-container, .wrap-button, .onda-relative {
		animation: animeUp .50s ease-in-out .4s backwards;
	}

	@keyframes animeRight {
		0% {
			transform: translateX(-50px);
			-webkit-transform: translateX(-50px);
			opacity: 0;
		}

		100% {
			transform: translateX(0px);
			-webkit-transform: translateX(0px);
			opacity: 1;
		}
	}

	@keyframes animeLeft {
		0% {
			transform: translateX(50px);
			-webkit-transform: translateX(50px);
			opacity: 0;
		}

		100% {
			transform: translateX(0px);
			-webkit-transform: translateX(0px);
			opacity: 1;
		}
	}

	@keyframes animeUp {
		0% {
			transform: translateY(50px) ;
			-webkit-transform: translateY(50px);
			opacity: 0;
		}

		100% {
			transform: translateY(0px);
			-webkit-transform: translateY(0px);
			opacity: 1;
		}
	}
	/* FIM ANIMAÇÕES DESKTOP */
}

@media (min-width: 1200px) {
	.grid-container {
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
	}	
}