.about-skew {
    clip-path: polygon(50% 0%, 100% 0, 100% 24%, 0 100%, 0 0);
    background-color: $darkColor;
    height: 200px;
    width: 100%;
}

.about-title {
    font-family   : $fontTitle;
    font-size: 3rem;
    color: $darkerColor;
}

.about-text {
    font-family   : $fontContent;
    font-size: 1.6rem;
}

.svg-code {
    position: relative;
}

.svg-code::after {
    content: url(../../img/code.svg);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* mobile view */
@media (max-width:500px) {
    .about-skew {
        height: 50px;
        background:#f7f5f6;
    }
}