.about-skew {
    clip-path: polygon(50% 0%, 100% 0, 100% 24%, 0 100%, 0 0);
    background-color: #100e17;
    height: 200px;
    width: 100%;
}

.about-title {
    font-family   : 'Bangers', 'Roboto Condensed', 'poppins', 'Helvetica Neue', Helvetica, Arial, cursive;
    font-size: 3rem;
    color: #333333;
}

.about-text {
    font-family   : 'Roboto Condensed', 'poppins', 'Helvetica Neue', Helvetica, Arial, cursive;
    font-size: 1.6rem;
}

.svg-code {
    position: relative;
}

.svg-code::after {
    content: url('../../../assets/img/code.svg');
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* mobile view */
@media (max-width:500px) {
    .about-skew {
        height: 50px;
        background:#f7f5f6;
    }
}