$lightColor: #ffffff;
$darkerColor: #333333;
$darkColor: #100e17;
$hoverColor: #fed136;
$fontTitle: 'Bangers', 'Roboto Condensed', 'poppins', 'Helvetica Neue', Helvetica, Arial, cursive;
$fontContent: 'Roboto Condensed', 'poppins', 'Helvetica Neue', Helvetica, Arial, cursive;

.card-section-title {
    font-family   : $fontTitle;
    font-size: 3rem;
    color: $darkerColor;
}

.card-section-content {
    position: relative;
    border: 1px solid #eee;
    background: $lightColor;
    box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);
    border-radius: 5px;
    overflow: hidden;
    padding: 30px;
}

.card-section-content:before {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 0;
    content: " ";
    width: 120px;
    height: 120px;
    background: #f3f3f3;
    border-bottom-left-radius: 136px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.card-section-content-icon {
    position: absolute;
    top: 18px;
    right: 22px;
    max-width: 100px;
    z-index: 1;
    text-align: center;
}

.card-section-content-icon i {
    color: $lightColor;
    font-size: 48px;
    line-height: 65px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.card-section-desc {
    position: relative;
}

.card-section-content .card-section-subtitle {
    color: $darkerColor;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    font-family   : $fontContent;
}

.card-section-content .card-section-subtitle-desc {
    color: $darkerColor;
    font-size: 17px;
    font-weight: 400;
    line-height: 1,5;
    margin-top: 5px;
}

.section-heading-line-left {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: $darkerColor;
    border-radius: 25%;
    margin-top: 15px;
    margin-bottom: 5px;
}

.card-section-content p {
    margin-top: 25px;
    padding-right: 50px;
}

.card-section-content:hover:before {
    background: $hoverColor;
}

.card-section-link:hover {
    text-decoration: none;
}