$lightColor: #ffffff;
$darkerColor: #333333;
$darkColor: #100e17;
$hoverColor: #fed136;
$fontTitle: 'Bangers', 'Roboto Condensed', 'poppins', 'Helvetica Neue', Helvetica, Arial, cursive;
$fontContent: 'Roboto Condensed', 'poppins', 'Helvetica Neue', Helvetica, Arial, cursive;

@media (max-width:500px) {
    .footer {
        align-items: flex-end;
    }
    
    .footer-social {
        flex-direction: column;
        align-items: center;
    }

    .footer-social .footer-social-btn-m {
        padding-right: 0 !important;
        width: 100%;
    }

    .social-btn-m {
        display: block;
        width: 100%;
        background: linear-gradient(20deg, #100e17, #1b1827, #100e17);
        padding: 20px 0px;
    }
}