.main-bg {
    background:#f7f5f6;
}

.second-bg {
    background:#3d2c60;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #3d2c60;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b5d333;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #cecece;
  }