footer {
    position           : fixed;
    bottom             : 0;
    z-index            : 1;
    width              : 100%;
    height             : 400px;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    background         : #3d2c60;
    background-repeat  : no-repeat;
    background-position: center center;
    background-size    : cover;
    font-size          : 4em;
    text-transform     : uppercase;
}

@media (max-width:500px) {
    footer {
        height: 600px;
        font-size          : 1em;
    }
}